.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.tabs-md .tab-button-icon{
  color:#ccc
}

.temp{
  font-size: 90px;
  text-align: center;
  font-weight: normal;
}

.lieu, .icon, .desc {
  text-align: center;
}

.icon img{
  width: 100px;
}

.lieu {
  font-size: 40px;
}

.desc {
  font-size: 30px;
}